body {
    margin: 0;
    font-family: sans-serif;
    background: #fafafa;
    color: #111;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}

.post {
    background: #ddd;
    padding: 20px;
}

button {
    padding: 8px 14px;
    margin-bottom: 20px;
}

.dark {
    background: #111;
    color: #eee;
}

.dark .post {
    background: #222;
}

@media(max-width:600px){
    .grid {
        grid-template-columns: 1fr;
    }
}
